{"version": "v3", "revision": "20260326", "auth": {"oauth2": {"scopes": {"https://www.googleapis.com/auth/youtube": {"description": "Manage your YouTube account"}, "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {"description": "See a list of your current active channel members, their current level, and when they became a member"}, "https://www.googleapis.com/auth/youtube.force-ssl": {"description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"}, "https://www.googleapis.com/auth/youtube.readonly": {"description": "View your YouTube account"}, "https://www.googleapis.com/auth/youtube.upload": {"description": "Manage your YouTube videos"}, "https://www.googleapis.com/auth/youtubepartner": {"description": "View and manage your assets and associated content on YouTube"}, "https://www.googleapis.com/auth/youtubepartner-channel-audit": {"description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"}}}}, "batchPath": "batch", "ownerDomain": "google.com", "discoveryVersion": "v1", "title": "YouTube Data API v3", "schemas": {"AbuseReport": {"id": "AbuseReport", "type": "object", "properties": {"subject": {"$ref": "Entity"}, "abuseTypes": {"type": "array", "items": {"$ref": "AbuseType"}}, "description": {"type": "string"}, "relatedEntities": {"type": "array", "items": {"$ref": "RelatedEntity"}}}}, "Entity": {"id": "Entity", "type": "object", "properties": {"id": {"type": "string"}, "url": {"type": "string"}, "typeId": {"type": "string"}}}, "AbuseType": {"id": "AbuseType", "type": "object", "properties": {"id": {"type": "string"}}}, "RelatedEntity": {"id": "RelatedEntity", "type": "object", "properties": {"entity": {"$ref": "Entity"}}}, "ActivityListResponse": {"id": "ActivityListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\".", "default": "youtube#activityListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "items": {"type": "array", "items": {"$ref": "Activity"}}, "nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.", "type": "string"}, "prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.", "type": "string"}, "pageInfo": {"description": "General pagination information.", "$ref": "PageInfo"}, "tokenPagination": {"deprecated": true, "$ref": "TokenPagination"}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "Activity": {"id": "Activity", "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\".", "default": "youtube#activity", "type": "string"}, "etag": {"description": "Etag of this resource", "type": "string"}, "id": {"description": "The ID that YouTube uses to uniquely identify the activity.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the activity, including the activity's type and group ID.", "$ref": "ActivitySnippet"}, "contentDetails": {"description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video.", "$ref": "ActivityContentDetails"}}}, "ActivitySnippet": {"id": "ActivitySnippet", "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12", "type": "object", "properties": {"publishedAt": {"description": "The date and time that the video was uploaded.", "type": "string", "format": "date-time"}, "channelId": {"description": "The ID that YouTube uses to uniquely identify the channel associated with the activity.", "type": "string"}, "title": {"description": "The title of the resource primarily associated with the activity.", "type": "string"}, "description": {"description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert", "type": "string"}, "thumbnails": {"description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.", "$ref": "ThumbnailDetails"}, "channelTitle": {"description": "Channel title for the channel responsible for this activity", "type": "string"}, "type": {"description": "The type of activity that the resource describes.", "type": "string", "enumDescriptions": ["", "", "", "", "", "", "", "", "", "", "", ""], "enum": ["typeUnspecified", "upload", "like", "favorite", "comment", "subscription", "playlistItem", "recommendation", "bulletin", "social", "channelItem", "promotedItem"]}, "groupId": {"description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value.", "type": "string"}}}, "ThumbnailDetails": {"id": "ThumbnailDetails", "description": "Internal representation of thumbnails for a YouTube resource.", "type": "object", "properties": {"default": {"description": "The default image for this resource.", "$ref": "Thumbnail"}, "medium": {"description": "The medium quality image for this resource.", "$ref": "Thumbnail"}, "high": {"description": "The high quality image for this resource.", "$ref": "Thumbnail"}, "standard": {"description": "The standard quality image for this resource.", "$ref": "Thumbnail"}, "maxres": {"description": "The maximum resolution quality image for this resource.", "$ref": "Thumbnail"}}}, "Thumbnail": {"id": "Thumbnail", "description": "A thumbnail is an image representing a YouTube resource.", "type": "object", "properties": {"url": {"description": "The thumbnail image's URL.", "type": "string"}, "width": {"description": "(Optional) Width of the thumbnail image.", "type": "integer", "format": "uint32"}, "height": {"description": "(Optional) Height of the thumbnail image.", "type": "integer", "format": "uint32"}}}, "ActivityContentDetails": {"id": "ActivityContentDetails", "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc.", "type": "object", "properties": {"upload": {"description": "The upload object contains information about the uploaded video. This property is only present if the snippet.type is upload.", "$ref": "ActivityContentDetailsUpload"}, "like": {"description": "The like object contains information about a resource that received a positive (like) rating. This property is only present if the snippet.type is like.", "$ref": "ActivityContentDetailsLike"}, "favorite": {"description": "The favorite object contains information about a video that was marked as a favorite video. This property is only present if the snippet.type is favorite.", "$ref": "ActivityContentDetailsFavorite"}, "comment": {"description": "The comment object contains information about a resource that received a comment. This property is only present if the snippet.type is comment.", "$ref": "ActivityContentDetailsComment"}, "subscription": {"description": "The subscription object contains information about a channel that a user subscribed to. This property is only present if the snippet.type is subscription.", "$ref": "ActivityContentDetailsSubscription"}, "playlistItem": {"description": "The playlistItem object contains information about a new playlist item. This property is only present if the snippet.type is playlistItem.", "$ref": "ActivityContentDetailsPlaylistItem"}, "recommendation": {"description": "The recommendation object contains information about a recommended resource. This property is only present if the snippet.type is recommendation.", "$ref": "ActivityContentDetailsRecommendation"}, "bulletin": {"description": "The bulletin object contains details about a channel bulletin post. This object is only present if the snippet.type is bulletin.", "$ref": "ActivityContentDetailsBulletin"}, "social": {"description": "The social object contains details about a social network post. This property is only present if the snippet.type is social.", "$ref": "ActivityContentDetailsSocial"}, "channelItem": {"description": "The channelItem object contains details about a resource which was added to a channel. This property is only present if the snippet.type is channelItem.", "$ref": "ActivityContentDetailsChannelItem"}, "promotedItem": {"description": "The promotedItem object contains details about a resource which is being promoted. This property is only present if the snippet.type is promotedItem.", "$ref": "ActivityContentDetailsPromotedItem"}}}, "ActivityContentDetailsUpload": {"id": "ActivityContentDetailsUpload", "description": "Information about the uploaded video.", "type": "object", "properties": {"videoId": {"description": "The ID that YouTube uses to uniquely identify the uploaded video.", "type": "string"}}}, "ActivityContentDetailsLike": {"id": "ActivityContentDetailsLike", "description": "Information about a resource that received a positive (like) rating.", "type": "object", "properties": {"resourceId": {"description": "The resourceId object contains information that identifies the rated resource.", "$ref": "ResourceId"}}}, "ResourceId": {"id": "ResourceId", "description": "A resource id is a generic reference that points to another YouTube resource.", "type": "object", "properties": {"kind": {"description": "The type of the API resource.", "type": "string"}, "videoId": {"description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video.", "type": "string"}, "channelId": {"description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel.", "type": "string"}, "playlistId": {"description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist.", "type": "string"}}}, "ActivityContentDetailsFavorite": {"id": "ActivityContentDetailsFavorite", "description": "Information about a video that was marked as a favorite video.", "type": "object", "properties": {"resourceId": {"description": "The resourceId object contains information that identifies the resource that was marked as a favorite.", "$ref": "ResourceId"}}}, "ActivityContentDetailsComment": {"id": "ActivityContentDetailsComment", "description": "Information about a resource that received a comment.", "type": "object", "properties": {"resourceId": {"description": "The resourceId object contains information that identifies the resource associated with the comment.", "$ref": "ResourceId"}}}, "ActivityContentDetailsSubscription": {"id": "ActivityContentDetailsSubscription", "description": "Information about a channel that a user subscribed to.", "type": "object", "properties": {"resourceId": {"description": "The resourceId object contains information that identifies the resource that the user subscribed to.", "$ref": "ResourceId"}}}, "ActivityContentDetailsPlaylistItem": {"id": "ActivityContentDetailsPlaylistItem", "description": "Information about a new playlist item.", "type": "object", "properties": {"resourceId": {"description": "The resourceId object contains information about the resource that was added to the playlist.", "$ref": "ResourceId"}, "playlistId": {"description": "The value that YouTube uses to uniquely identify the playlist.", "type": "string"}, "playlistItemId": {"description": "ID of the item within the playlist.", "type": "string"}}}, "ActivityContentDetailsRecommendation": {"id": "ActivityContentDetailsRecommendation", "description": "Information that identifies the recommended resource.", "type": "object", "properties": {"resourceId": {"description": "The resourceId object contains information that identifies the recommended resource.", "$ref": "ResourceId"}, "reason": {"description": "The reason that the resource is recommended to the user.", "type": "string", "enumDescriptions": ["", "", "", ""], "enum": ["reasonUnspecified", "videoFavorited", "videoLiked", "videoWatched"]}, "seedResourceId": {"description": "The seedResourceId object contains information about the resource that caused the recommendation.", "$ref": "ResourceId"}}}, "ActivityContentDetailsBulletin": {"id": "ActivityContentDetailsBulletin", "description": "Details about a channel bulletin post.", "type": "object", "properties": {"resourceId": {"description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert", "$ref": "ResourceId"}}}, "ActivityContentDetailsSocial": {"id": "ActivityContentDetailsSocial", "description": "Details about a social network post.", "type": "object", "properties": {"type": {"description": "The name of the social network.", "type": "string", "enumDescriptions": ["", "", "", ""], "enum": ["unspecified", "googlePlus", "facebook", "twitter"]}, "resourceId": {"description": "The resourceId object encapsulates information that identifies the resource associated with a social network post.", "$ref": "ResourceId"}, "author": {"description": "The author of the social network post.", "type": "string"}, "referenceUrl": {"description": "The URL of the social network post.", "type": "string"}, "imageUrl": {"description": "An image of the post's author.", "type": "string"}}}, "ActivityContentDetailsChannelItem": {"id": "ActivityContentDetailsChannelItem", "description": "Details about a resource which was added to a channel.", "type": "object", "properties": {"resourceId": {"description": "The resourceId object contains information that identifies the resource that was added to the channel.", "$ref": "ResourceId"}}}, "ActivityContentDetailsPromotedItem": {"id": "ActivityContentDetailsPromotedItem", "description": "Details about a resource which is being promoted.", "type": "object", "properties": {"adTag": {"description": "The URL the client should fetch to request a promoted item.", "type": "string"}, "videoId": {"description": "The ID that YouTube uses to uniquely identify the promoted video.", "type": "string"}, "creativeViewUrl": {"description": "The URL the client should ping to indicate that the user was shown this promoted item.", "type": "string"}, "clickTrackingUrl": {"description": "The URL the client should ping to indicate that the user clicked through on this promoted item.", "type": "string"}, "destinationUrl": {"description": "The URL the client should direct the user to, if the user chooses to visit the advertiser's website.", "type": "string"}, "ctaType": {"description": "The type of call-to-action, a message to the user indicating action that can be taken.", "type": "string", "enumDescriptions": ["", ""], "enum": ["ctaTypeUnspecified", "visitAdvertiserSite"]}, "descriptionText": {"description": "The text description to accompany the promoted item.", "type": "string"}, "impressionUrl": {"description": "The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item.", "type": "array", "items": {"type": "string"}}, "forecastingUrl": {"description": "The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.", "type": "array", "items": {"type": "string"}}, "customCtaButtonText": {"description": "The custom call-to-action button text. If specified, it will override the default button text for the cta_type.", "type": "string"}}}, "PageInfo": {"id": "PageInfo", "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.", "type": "object", "properties": {"totalResults": {"description": "The total number of results in the result set.", "type": "integer", "format": "int32"}, "resultsPerPage": {"description": "The number of results included in the API response.", "type": "integer", "format": "int32"}}}, "TokenPagination": {"id": "TokenPagination", "description": "Stub token pagination template to suppress results.", "type": "object", "properties": {}}, "CaptionListResponse": {"id": "CaptionListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".", "default": "youtube#captionListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "items": {"description": "A list of captions that match the request criteria.", "type": "array", "items": {"$ref": "Caption"}}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "Caption": {"id": "Caption", "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\".", "default": "youtube#caption", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube uses to uniquely identify the caption track.", "annotations": {"required": ["youtube.captions.update"]}, "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the caption.", "$ref": "CaptionSnippet"}}}, "CaptionSnippet": {"id": "CaptionSnippet", "description": "Basic details about a caption track, such as its language and name.", "type": "object", "properties": {"videoId": {"description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert", "annotations": {"required": ["youtube.captions.insert"]}, "type": "string"}, "lastUpdated": {"description": "The date and time when the caption track was last updated.", "type": "string", "format": "date-time"}, "trackKind": {"description": "The caption track's type.", "type": "string", "enumDescriptions": ["", "", ""], "enum": ["standard", "ASR", "forced"]}, "language": {"description": "The language of the caption track. The property value is a BCP-47 language tag.", "annotations": {"required": ["youtube.captions.insert"]}, "type": "string"}, "name": {"description": "The name of the caption track. The name is intended to be visible to the user as an option during playback.", "annotations": {"required": ["youtube.captions.insert"]}, "type": "string"}, "audioTrackType": {"description": "The type of audio track associated with the caption track.", "type": "string", "enumDescriptions": ["", "", "", ""], "enum": ["unknown", "primary", "commentary", "descriptive"]}, "isCC": {"description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.", "type": "boolean"}, "isLarge": {"description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false.", "type": "boolean"}, "isEasyReader": {"description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false.", "type": "boolean"}, "isDraft": {"description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update", "type": "boolean"}, "isAutoSynced": {"description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.", "type": "boolean"}, "status": {"description": "The caption track's status.", "type": "string", "enumDescriptions": ["", "", ""], "enum": ["serving", "syncing", "failed"]}, "failureReason": {"description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.", "type": "string", "enumDescriptions": ["", "", ""], "enum": ["unknownFormat", "unsupportedFormat", "processingFailed"]}}}, "ChannelListResponse": {"id": "ChannelListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".", "default": "youtube#channelListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.", "type": "string"}, "prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.", "type": "string"}, "pageInfo": {"description": "General pagination information.", "$ref": "PageInfo"}, "items": {"type": "array", "items": {"$ref": "Channel"}}, "tokenPagination": {"deprecated": true, "$ref": "TokenPagination"}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "Channel": {"id": "Channel", "description": "A *channel* resource contains information about a YouTube channel.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\".", "default": "youtube#channel", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube uses to uniquely identify the channel.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images.", "$ref": "ChannelSnippet"}, "contentDetails": {"description": "The contentDetails object encapsulates information about the channel's content.", "$ref": "ChannelContentDetails"}, "statistics": {"description": "The statistics object encapsulates statistics for the channel.", "$ref": "ChannelStatistics"}, "topicDetails": {"description": "The topicDetails object encapsulates information about Freebase topics associated with the channel.", "$ref": "ChannelTopicDetails"}, "status": {"description": "The status object encapsulates information about the privacy status of the channel.", "$ref": "ChannelStatus"}, "brandingSettings": {"description": "The brandingSettings object encapsulates information about the branding of the channel.", "$ref": "ChannelBrandingSettings"}, "conversionPings": {"description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.", "deprecated": true, "$ref": "ChannelConversionPings"}, "auditDetails": {"description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process.", "$ref": "ChannelAuditDetails"}, "contentOwnerDetails": {"description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.", "$ref": "ChannelContentOwnerDetails"}, "localizations": {"description": "Localizations for different languages", "type": "object", "additionalProperties": {"$ref": "ChannelLocalization"}}}}, "ChannelSnippet": {"id": "ChannelSnippet", "description": "Basic details about a channel, including title, description and thumbnails.", "type": "object", "properties": {"title": {"description": "The channel's title.", "type": "string"}, "description": {"description": "The description of the channel.", "type": "string"}, "customUrl": {"description": "The custom url of the channel.", "type": "string"}, "publishedAt": {"description": "The date and time that the channel was created.", "type": "string", "format": "date-time"}, "thumbnails": {"description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain. Thumbnail images might be empty for newly created channels and might take up to one day to populate.", "$ref": "ThumbnailDetails"}, "defaultLanguage": {"description": "The language of the channel's default title and description.", "type": "string"}, "localized": {"description": "Localized title and description, read-only.", "$ref": "ChannelLocalization"}, "country": {"description": "The country of the channel.", "type": "string"}}}, "ChannelLocalization": {"id": "ChannelLocalization", "description": "Channel localization setting", "type": "object", "properties": {"title": {"description": "The localized strings for channel's title.", "type": "string"}, "description": {"description": "The localized strings for channel's description.", "type": "string"}}}, "ChannelContentDetails": {"id": "ChannelContentDetails", "description": "Details about the content of a channel.", "type": "object", "properties": {"relatedPlaylists": {"type": "object", "properties": {"likes": {"description": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.", "type": "string"}, "favorites": {"description": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.", "deprecated": true, "type": "string"}, "uploads": {"description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos.", "type": "string"}, "watchHistory": {"description": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.", "deprecated": true, "type": "string"}, "watchLater": {"description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.", "deprecated": true, "type": "string"}}}}}, "ChannelStatistics": {"id": "ChannelStatistics", "description": "Statistics about a channel: number of subscribers, number of videos in the channel, etc.", "type": "object", "properties": {"viewCount": {"description": "The number of times the channel has been viewed.", "type": "string", "format": "uint64"}, "commentCount": {"description": "The number of comments for the channel.", "type": "string", "format": "uint64"}, "subscriberCount": {"description": "The number of subscribers that the channel has.", "type": "string", "format": "uint64"}, "hiddenSubscriberCount": {"description": "Whether or not the number of subscribers is shown for this user.", "type": "boolean"}, "videoCount": {"description": "The number of videos uploaded to the channel.", "type": "string", "format": "uint64"}}}, "ChannelTopicDetails": {"id": "ChannelTopicDetails", "description": "Freebase topic information related to the channel.", "type": "object", "properties": {"topicIds": {"description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.", "deprecated": true, "type": "array", "items": {"type": "string"}}, "topicCategories": {"description": "A list of Wikipedia URLs that describe the channel's content.", "type": "array", "items": {"type": "string"}}}}, "ChannelStatus": {"id": "ChannelStatus", "description": "JSON template for the status part of a channel.", "type": "object", "properties": {"privacyStatus": {"description": "Privacy status of the channel.", "type": "string", "enumDescriptions": ["", "", ""], "enum": ["public", "unlisted", "private"]}, "isLinked": {"description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.", "type": "boolean"}, "longUploadsStatus": {"description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.", "type": "string", "enumDescriptions": ["", "", "", ""], "enum": ["longUploadsUnspecified", "allowed", "eligible", "disallowed"]}, "madeForKids": {"type": "boolean"}, "selfDeclaredMadeForKids": {"type": "boolean"}, "isChannelMonetizationEnabled": {"description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details.", "type": "boolean"}}}, "ChannelBrandingSettings": {"id": "ChannelBrandingSettings", "description": "Branding properties of a YouTube channel.", "type": "object", "properties": {"channel": {"description": "Branding properties for the channel view.", "$ref": "ChannelSettings"}, "watch": {"description": "Branding properties for the watch page.", "deprecated": true, "$ref": "WatchSettings"}, "image": {"description": "Branding properties for branding images.", "$ref": "ImageSettings"}, "hints": {"description": "Additional experimental branding properties.", "deprecated": true, "type": "array", "items": {"$ref": "PropertyValue"}}}}, "ChannelSettings": {"id": "ChannelSettings", "description": "Branding properties for the channel view.", "type": "object", "properties": {"title": {"description": "Specifies the channel title.", "type": "string"}, "description": {"description": "Specifies the channel description.", "type": "string"}, "keywords": {"description": "Lists keywords associated with the channel, comma-separated.", "type": "string"}, "defaultTab": {"description": "Which content tab users should see when viewing the channel.", "deprecated": true, "type": "string"}, "trackingAnalyticsAccountId": {"description": "The ID for a Google Analytics account to track and measure traffic to the channels.", "type": "string"}, "moderateComments": {"description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible.", "deprecated": true, "type": "boolean"}, "showRelatedChannels": {"description": "Whether related channels should be proposed.", "deprecated": true, "type": "boolean"}, "showBrowseView": {"description": "Whether the tab to browse the videos should be displayed.", "deprecated": true, "type": "boolean"}, "featuredChannelsTitle": {"description": "Title for the featured channels tab.", "deprecated": true, "type": "string"}, "featuredChannelsUrls": {"description": "The list of featured channels.", "deprecated": true, "type": "array", "items": {"type": "string"}}, "unsubscribedTrailer": {"description": "The trailer of the channel, for users that are not subscribers.", "type": "string"}, "profileColor": {"description": "A prominent color that can be rendered on this channel page.", "deprecated": true, "type": "string"}, "defaultLanguage": {"type": "string"}, "country": {"description": "The country of the channel.", "type": "string"}}}, "WatchSettings": {"id": "WatchSettings", "description": "Branding properties for the watch. All deprecated.", "type": "object", "properties": {"textColor": {"description": "The background color for the video watch page's branded area.", "type": "string"}, "backgroundColor": {"description": "The text color for the video watch page's branded area.", "type": "string"}, "featuredPlaylistId": {"description": "An ID that uniquely identifies a playlist that displays next to the video player.", "type": "string"}}}, "ImageSettings": {"id": "ImageSettings", "description": "Branding properties for images associated with the channel.", "type": "object", "properties": {"bannerImageUrl": {"description": "Banner image. Desktop size (1060x175).", "deprecated": true, "type": "string"}, "bannerMobileImageUrl": {"description": "Banner image. Mobile size (640x175).", "deprecated": true, "type": "string"}, "backgroundImageUrl": {"description": "The URL for the background image shown on the video watch page. The image should be 1200px by 615px, with a maximum file size of 128k.", "deprecated": true, "$ref": "LocalizedProperty"}, "largeBrandedBannerImageImapScript": {"description": "The image map script for the large banner image.", "deprecated": true, "$ref": "LocalizedProperty"}, "largeBrandedBannerImageUrl": {"description": "The URL for the 854px by 70px image that appears below the video player in the expanded video view of the video watch page.", "deprecated": true, "$ref": "LocalizedProperty"}, "smallBrandedBannerImageImapScript": {"description": "The image map script for the small banner image.", "deprecated": true, "$ref": "LocalizedProperty"}, "smallBrandedBannerImageUrl": {"description": "The URL for the 640px by 70px banner image that appears below the video player in the default view of the video watch page. The URL for the image that appears above the top-left corner of the video player. This is a 25-pixel-high image with a flexible width that cannot exceed 170 pixels.", "deprecated": true, "$ref": "LocalizedProperty"}, "watchIconImageUrl": {"deprecated": true, "type": "string"}, "trackingImageUrl": {"description": "The URL for a 1px by 1px tracking pixel that can be used to collect statistics for views of the channel or video pages.", "deprecated": true, "type": "string"}, "bannerTabletLowImageUrl": {"description": "Banner image. Tablet size low resolution (1138x188).", "deprecated": true, "type": "string"}, "bannerTabletImageUrl": {"description": "Banner image. Tablet size (1707x283).", "deprecated": true, "type": "string"}, "bannerTabletHdImageUrl": {"description": "Banner image. Tablet size high resolution (2276x377).", "deprecated": true, "type": "string"}, "bannerTabletExtraHdImageUrl": {"description": "Banner image. Tablet size extra high resolution (2560x424).", "deprecated": true, "type": "string"}, "bannerMobileLowImageUrl": {"description": "Banner image. Mobile size low resolution (320x88).", "deprecated": true, "type": "string"}, "bannerMobileMediumHdImageUrl": {"description": "Banner image. Mobile size medium/high resolution (960x263).", "deprecated": true, "type": "string"}, "bannerMobileHdImageUrl": {"description": "Banner image. Mobile size high resolution (1280x360).", "deprecated": true, "type": "string"}, "bannerMobileExtraHdImageUrl": {"description": "Banner image. Mobile size high resolution (1440x395).", "deprecated": true, "type": "string"}, "bannerTvImageUrl": {"description": "Banner image. TV size extra high resolution (2120x1192).", "deprecated": true, "type": "string"}, "bannerTvLowImageUrl": {"description": "Banner image. TV size low resolution (854x480).", "deprecated": true, "type": "string"}, "bannerTvMediumImageUrl": {"description": "Banner image. TV size medium resolution (1280x720).", "deprecated": true, "type": "string"}, "bannerTvHighImageUrl": {"description": "Banner image. TV size high resolution (1920x1080).", "deprecated": true, "type": "string"}, "bannerExternalUrl": {"description": "This is generated when a ChannelBanner.Insert request has succeeded for the given channel.", "type": "string"}}}, "LocalizedProperty": {"id": "LocalizedProperty", "type": "object", "properties": {"default": {"type": "string"}, "localized": {"type": "array", "items": {"$ref": "LocalizedString"}}, "defaultLanguage": {"description": "The language of the default property.", "$ref": "LanguageTag"}}}, "LocalizedString": {"id": "LocalizedString", "type": "object", "properties": {"value": {"type": "string"}, "language": {"type": "string"}}}, "LanguageTag": {"id": "LanguageTag", "type": "object", "properties": {"value": {"type": "string"}}}, "PropertyValue": {"id": "PropertyValue", "description": "A pair Property / Value.", "type": "object", "properties": {"property": {"description": "A property.", "type": "string"}, "value": {"description": "The property's value.", "type": "string"}}}, "ChannelConversionPings": {"id": "ChannelConversionPings", "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.", "type": "object", "properties": {"pings": {"description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.", "type": "array", "items": {"$ref": "ChannelConversionPing"}}}}, "ChannelConversionPing": {"id": "ChannelConversionPing", "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.", "type": "object", "properties": {"context": {"description": "Defines the context of the ping.", "type": "string", "enumDescriptions": ["", "", ""], "enum": ["subscribe", "unsubscribe", "cview"]}, "conversionUrl": {"description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping.", "type": "string"}}}, "ChannelAuditDetails": {"id": "ChannelAuditDetails", "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.", "type": "object", "properties": {"communityGuidelinesGoodStanding": {"description": "Whether or not the channel respects the community guidelines.", "type": "boolean"}, "copyrightStrikesGoodStanding": {"description": "Whether or not the channel has any copyright strikes.", "type": "boolean"}, "contentIdClaimsGoodStanding": {"description": "Whether or not the channel has any unresolved claims.", "type": "boolean"}}}, "ChannelContentOwnerDetails": {"id": "ChannelContentOwnerDetails", "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.", "type": "object", "properties": {"contentOwner": {"description": "The ID of the content owner linked to the channel.", "type": "string"}, "timeLinked": {"description": "The date and time when the channel was linked to the content owner.", "type": "string", "format": "date-time"}}}, "ChannelBannerResource": {"id": "ChannelBannerResource", "description": "A channel banner returned as the response to a channel_banner.insert call.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".", "default": "youtube#channelBannerResource", "type": "string"}, "etag": {"type": "string"}, "url": {"description": "The URL of this banner image.", "type": "string"}}}, "ChannelSectionListResponse": {"id": "ChannelSectionListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".", "default": "youtube#channelSectionListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "items": {"description": "A list of ChannelSections that match the request criteria.", "type": "array", "items": {"$ref": "ChannelSection"}}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "ChannelSection": {"id": "ChannelSection", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".", "default": "youtube#channelSection", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube uses to uniquely identify the channel section.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the channel section, such as its type, style and title.", "$ref": "ChannelSectionSnippet"}, "contentDetails": {"description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section.", "$ref": "ChannelSectionContentDetails"}, "localizations": {"description": "Localizations for different languages", "deprecated": true, "type": "object", "additionalProperties": {"$ref": "ChannelSectionLocalization"}}, "targeting": {"description": "The targeting object contains basic targeting settings about the channel section.", "deprecated": true, "$ref": "ChannelSectionTargeting"}}}, "ChannelSectionSnippet": {"id": "ChannelSectionSnippet", "description": "Basic details about a channel section, including title, style and position.", "type": "object", "properties": {"type": {"description": "The type of the channel section.", "type": "string", "enumDescriptions": ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""], "enumDeprecated": [false, false, false, false, false, true, false, true, true, true, false, false, false, false, true, true, false], "enum": ["channelsectionTypeUndefined", "singlePlaylist", "multiplePlaylists", "popularUploads", "recentUploads", "likes", "allPlaylists", "likedPlaylists", "recentPosts", "recentActivity", "liveEvents", "upcomingEvents", "completedEvents", "multipleChannels", "postedVideos", "postedPlaylists", "subscriptions"]}, "style": {"description": "The style of the channel section.", "deprecated": true, "type": "string", "enumDescriptions": ["", "", ""], "enum": ["channelsectionStyleUnspecified", "horizontalRow", "verticalList"]}, "channelId": {"description": "The ID that YouTube uses to uniquely identify the channel that published the channel section.", "type": "string"}, "title": {"description": "The channel section's title for multiple_playlists and multiple_channels.", "type": "string"}, "position": {"description": "The position of the channel section in the channel.", "type": "integer", "format": "uint32"}, "defaultLanguage": {"description": "The language of the channel section's default title and description.", "deprecated": true, "type": "string"}, "localized": {"description": "Localized title, read-only.", "deprecated": true, "$ref": "ChannelSectionLocalization"}}}, "ChannelSectionLocalization": {"id": "ChannelSectionLocalization", "description": "ChannelSection localization setting", "type": "object", "properties": {"title": {"description": "The localized strings for channel section's title.", "deprecated": true, "type": "string"}}}, "ChannelSectionContentDetails": {"id": "ChannelSectionContentDetails", "description": "Details about a channelsection, including playlists and channels.", "type": "object", "properties": {"playlists": {"description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.", "type": "array", "items": {"type": "string"}}, "channels": {"description": "The channel ids for type multiple_channels.", "type": "array", "items": {"type": "string"}}}}, "ChannelSectionTargeting": {"id": "ChannelSectionTargeting", "description": "ChannelSection targeting setting.", "type": "object", "properties": {"languages": {"description": "The language the channel section is targeting.", "deprecated": true, "type": "array", "items": {"type": "string"}}, "regions": {"description": "The region the channel section is targeting.", "deprecated": true, "type": "array", "items": {"type": "string"}}, "countries": {"description": "The country the channel section is targeting.", "deprecated": true, "type": "array", "items": {"type": "string"}}}}, "CommentListResponse": {"id": "CommentListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\".", "default": "youtube#commentListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "pageInfo": {"description": "General pagination information.", "$ref": "PageInfo"}, "items": {"description": "A list of comments that match the request criteria.", "type": "array", "items": {"$ref": "Comment"}}, "nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.", "type": "string"}, "tokenPagination": {"deprecated": true, "$ref": "TokenPagination"}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "Comment": {"id": "Comment", "description": "A *comment* represents a single YouTube comment.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\".", "default": "youtube#comment", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube uses to uniquely identify the comment.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the comment.", "$ref": "CommentSnippet"}}}, "CommentSnippet": {"id": "CommentSnippet", "description": "Basic details about a comment, such as its author and text.", "type": "object", "properties": {"channelId": {"description": "The id of the corresponding YouTube channel. In case of a channel comment this is the channel the comment refers to. In case of a video or post comment it's the video/post's channel.", "type": "string"}, "videoId": {"description": "The ID of the video the comment refers to, if any.", "type": "string"}, "postId": {"description": "The ID of the post the comment refers to, if any.", "type": "string"}, "textDisplay": {"description": "The comment's text. The format is either plain text or HTML dependent on what has been requested. Even the plain text representation may differ from the text originally posted in that it may replace video links with video titles etc.", "type": "string"}, "textOriginal": {"description": "The comment's original raw text as initially posted or last updated. The original text will only be returned if it is accessible to the viewer, which is only guaranteed if the viewer is the comment's author.", "type": "string"}, "parentId": {"description": "The unique id of the top-level comment, only set for replies.", "type": "string"}, "authorDisplayName": {"description": "The name of the user who posted the comment.", "type": "string"}, "authorProfileImageUrl": {"description": "The URL for the avatar of the user who posted the comment.", "type": "string"}, "authorChannelUrl": {"description": "Link to the author's YouTube channel, if any.", "type": "string"}, "authorChannelId": {"$ref": "CommentSnippetAuthorChannelId"}, "canRate": {"description": "Whether the current viewer can rate this comment.", "type": "boolean"}, "viewerRating": {"description": "The rating the viewer has given to this comment. For the time being this will never return RATE_TYPE_DISLIKE and instead return RATE_TYPE_NONE. This may change in the future.", "type": "string", "enumDescriptions": ["", "The entity is liked.", "The entity is disliked."], "enum": ["none", "like", "dislike"]}, "likeCount": {"description": "The total number of likes this comment has received.", "type": "integer", "format": "uint32"}, "moderationStatus": {"description": "The comment's moderation status. Will not be set if the comments were requested through the id filter.", "type": "string", "enumDescriptions": ["The comment is available for public display.", "The comment is awaiting review by a moderator.", "", "The comment is unfit for display."], "enum": ["published", "heldForReview", "likelySpam", "rejected"]}, "publishedAt": {"description": "The date and time when the comment was originally published.", "type": "string", "format": "date-time"}, "updatedAt": {"description": "The date and time when the comment was last updated.", "type": "string", "format": "date-time"}}}, "CommentSnippetAuthorChannelId": {"id": "CommentSnippetAuthorChannelId", "description": "Contains the id of the author's YouTube channel, if any.", "type": "object", "properties": {"value": {"description": "The id of the author's YouTube channel.", "type": "string"}}}, "CommentThreadListResponse": {"id": "CommentThreadListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\".", "default": "youtube#commentThreadListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.", "type": "string"}, "pageInfo": {"description": "General pagination information.", "$ref": "PageInfo"}, "items": {"description": "A list of comment threads that match the request criteria.", "type": "array", "items": {"$ref": "CommentThread"}}, "tokenPagination": {"deprecated": true, "$ref": "TokenPagination"}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "CommentThread": {"id": "CommentThread", "description": "A *comment thread* represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThread\".", "default": "youtube#commentThread", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube uses to uniquely identify the comment thread.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the comment thread and also the top level comment.", "$ref": "CommentThreadSnippet"}, "replies": {"description": "The replies object contains a limited number of replies (if any) to the top level comment found in the snippet.", "$ref": "CommentThreadReplies"}}}, "CommentThreadSnippet": {"id": "CommentThreadSnippet", "description": "Basic details about a comment thread.", "type": "object", "properties": {"channelId": {"description": "The YouTube channel the comments in the thread refer to or the channel with the video the comments refer to. If neither video_id nor post_id is set the comments refer to the channel itself.", "type": "string"}, "videoId": {"description": "The ID of the video the comments refer to, if any.", "type": "string"}, "postId": {"description": "The ID of the post the comments refer to, if any.", "type": "string"}, "topLevelComment": {"description": "The top level comment of this thread.", "$ref": "Comment"}, "canReply": {"description": "Whether the current viewer of the thread can reply to it. This is viewer specific - other viewers may see a different value for this field.", "type": "boolean"}, "totalReplyCount": {"description": "The total number of replies (not including the top level comment).", "type": "integer", "format": "uint32"}, "isPublic": {"description": "Whether the thread (and therefore all its comments) is visible to all YouTube users.", "type": "boolean"}}}, "CommentThreadReplies": {"id": "CommentThreadReplies", "description": "Comments written in (direct or indirect) reply to the top level comment.", "type": "object", "properties": {"comments": {"description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies.", "type": "array", "items": {"$ref": "Comment"}}}}, "I18nLanguageListResponse": {"id": "I18nLanguageListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\".", "default": "youtube#i18nLanguageListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "items": {"description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource.", "type": "array", "items": {"$ref": "I18nLanguage"}}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "type": "string"}}}, "I18nLanguage": {"id": "I18nLanguage", "description": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\".", "default": "youtube#i18nLanguage", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube uses to uniquely identify the i18n language.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name.", "$ref": "I18nLanguageSnippet"}}}, "I18nLanguageSnippet": {"id": "I18nLanguageSnippet", "description": "Basic details about an i18n language, such as language code and human-readable name.", "type": "object", "properties": {"hl": {"description": "A short BCP-47 code that uniquely identifies a language.", "type": "string"}, "name": {"description": "The human-readable name of the language in the language itself.", "type": "string"}}}, "I18nRegionListResponse": {"id": "I18nRegionListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegionListResponse\".", "default": "youtube#i18nRegionListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "items": {"description": "A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.", "type": "array", "items": {"$ref": "I18nRegion"}}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "I18nRegion": {"id": "I18nRegion", "description": "A *i18nRegion* resource identifies a region where YouTube is available.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\".", "default": "youtube#i18nRegion", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube uses to uniquely identify the i18n region.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name.", "$ref": "I18nRegionSnippet"}}}, "I18nRegionSnippet": {"id": "I18nRegionSnippet", "description": "Basic details about an i18n region, such as region code and human-readable name.", "type": "object", "properties": {"gl": {"description": "The region code as a 2-letter ISO country code.", "type": "string"}, "name": {"description": "The human-readable name of the region.", "type": "string"}}}, "LiveBroadcastListResponse": {"id": "LiveBroadcastListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\".", "default": "youtube#liveBroadcastListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.", "type": "string"}, "prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.", "type": "string"}, "pageInfo": {"description": "General pagination information.", "$ref": "PageInfo"}, "items": {"description": "A list of broadcasts that match the request criteria.", "type": "array", "items": {"$ref": "LiveBroadcast"}}, "tokenPagination": {"deprecated": true, "$ref": "TokenPagination"}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "LiveBroadcast": {"id": "LiveBroadcast", "description": "A *liveBroadcast* resource represents an event that will be streamed, via live video, on YouTube.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".", "default": "youtube#liveBroadcast", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube assigns to uniquely identify the broadcast.", "annotations": {"required": ["youtube.liveBroadcasts.update"]}, "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the event, including its title, description, start time, and end time.", "$ref": "LiveBroadcastSnippet"}, "status": {"description": "The status object contains information about the event's status.", "$ref": "LiveBroadcastStatus"}, "contentDetails": {"description": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded.", "$ref": "LiveBroadcastContentDetails"}, "statistics": {"description": "The statistics object contains info about the event's current stats. These include concurrent viewers and total chat count. Statistics can change (in either direction) during the lifetime of an event. Statistics are only returned while the event is live.", "$ref": "LiveBroadcastStatistics"}, "monetizationDetails": {"description": "The monetizationDetails object contains information about the event's monetization details.", "$ref": "LiveBroadcastMonetizationDetails"}}}, "LiveBroadcastSnippet": {"id": "LiveBroadcastSnippet", "description": "Basic broadcast information.", "type": "object", "properties": {"publishedAt": {"description": "The date and time that the broadcast was added to YouTube's live broadcast schedule.", "type": "string", "format": "date-time"}, "channelId": {"description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast.", "type": "string"}, "title": {"description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.", "annotations": {"required": ["youtube.liveBroadcasts.insert", "youtube.liveBroadcasts.update"]}, "type": "string"}, "description": {"description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.", "type": "string"}, "thumbnails": {"description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.", "$ref": "ThumbnailDetails"}, "scheduledStartTime": {"description": "The date and time that the broadcast is scheduled to start.", "type": "string", "format": "date-time", "annotations": {"required": ["youtube.liveBroadcasts.insert", "youtube.liveBroadcasts.update"]}}, "scheduledEndTime": {"description": "The date and time that the broadcast is scheduled to end.", "type": "string", "format": "date-time"}, "actualStartTime": {"description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live.", "type": "string", "format": "date-time"}, "actualEndTime": {"description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete.", "type": "string", "format": "date-time"}, "isDefaultBroadcast": {"description": "Indicates whether this broadcast is the default broadcast. Internal only.", "type": "boolean"}, "liveChatId": {"description": "The id of the live chat for this broadcast.", "type": "string"}}}, "LiveBroadcastStatus": {"id": "LiveBroadcastStatus", "description": "Live broadcast state.", "type": "object", "properties": {"lifeCycleStatus": {"description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.", "type": "string", "enumDescriptions": ["No value or the value is unknown.", "Incomplete settings, but otherwise valid", "Complete settings", "Visible only to partner, may need special UI treatment", "Viper is recording; this means the \"clock\" is running", "The broadcast is finished.", "This broadcast was removed by admin action", "Transition into TESTING has been requested", "Transition into LIVE has been requested"], "enum": ["lifeCycleStatusUnspecified", "created", "ready", "testing", "live", "complete", "revoked", "testStarting", "liveStarting"]}, "privacyStatus": {"description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.", "annotations": {"required": ["youtube.liveBroadcasts.insert", "youtube.liveBroadcasts.update"]}, "type": "string", "enumDescriptions": ["", "", ""], "enum": ["public", "unlisted", "private"]}, "recordingStatus": {"description": "The broadcast's recording status.", "type": "string", "enumDescriptions": ["No value or the value is unknown.", "The recording has not yet been started.", "The recording is currently on.", "The recording is completed, and cannot be started again."], "enum": ["liveBroadcastRecordingStatusUnspecified", "notRecording", "recording", "recorded"]}, "liveBroadcastPriority": {"description": "Priority of the live broadcast event (internal state).", "type": "string", "enumDescriptions": ["", "Low priority broadcast: for low view count HoAs or other low priority broadcasts.", "Normal priority broadcast: for regular HoAs and broadcasts.", "High priority broadcast: for high profile HoAs, like PixelCorp ones."], "enum": ["liveBroadcastPriorityUnspecified", "low", "normal", "high"]}, "madeForKids": {"description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only.", "type": "boolean"}, "selfDeclaredMadeForKids": {"description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work.", "type": "boolean"}}}, "LiveBroadcastContentDetails": {"id": "LiveBroadcastContentDetails", "description": "Detailed settings of a broadcast.", "type": "object", "properties": {"boundStreamId": {"description": "This value uniquely identifies the live stream bound to the broadcast.", "type": "string"}, "boundStreamLastUpdateTimeMs": {"description": "The date and time that the live stream referenced by boundStreamId was last updated.", "type": "string", "format": "date-time"}, "monitorStream": {"description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly.", "$ref": "MonitorStreamInfo"}, "enableEmbed": {"description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video.", "type": "boolean"}, "enableDvr": {"description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends.", "type": "boolean"}, "enableContentEncryption": {"description": "This setting indicates whether YouTube should enable content encryption for the broadcast.", "type": "boolean"}, "startWithSlate": {"description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers.", "deprecated": true, "type": "boolean"}, "recordFromStart": {"description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback.", "type": "boolean"}, "enableClosedCaptions": {"description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST.", "deprecated": true, "type": "boolean"}, "closedCaptionsType": {"type": "string", "enumDescriptions": ["", "", "", ""], "enum": ["closedCaptionsTypeUnspecified", "closedCaptionsDisabled", "closedCaptionsHttpPost", "closedCaptionsEmbedded"]}, "enableLowLatency": {"description": "Indicates whether this broadcast has low latency enabled.", "deprecated": true, "type": "boolean"}, "latencyPreference": {"description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted.", "type": "string", "enumDescriptions": ["", "Best for: highest quality viewer playbacks and higher resolutions.", "Best for: near real-time interaction, with minimal playback buffering.", "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"], "enum": ["latencyPreferenceUnspecified", "normal", "low", "ultraLow"]}, "projection": {"description": "The projection format of this broadcast. This defaults to rectangular.", "type": "string", "enumDescriptions": ["", "", "", ""], "enum": ["projectionUnspecified", "rectangular", "360", "mesh"]}, "mesh": {"description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags.", "type": "string", "format": "byte"}, "stereoLayout": {"description": "The 3D stereo layout of this broadcast. This defaults to mono.", "type": "string", "enumDescriptions": ["", "", "", ""], "enum": ["stereoLayoutUnspecified", "mono", "leftRight", "topBottom"]}, "enableAutoStart": {"description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.", "type": "boolean"}, "enableAutoStop": {"description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.", "type": "boolean"}}}, "MonitorStreamInfo": {"id": "MonitorStreamInfo", "description": "Settings and Info of the monitor stream", "type": "object", "properties": {"enableMonitorStream": {"description": "This value determines whether the monitor stream is enabled for the broadcast. If the monitor stream is enabled, then YouTube will broadcast the event content on a special stream intended only for the broadcaster's consumption. The broadcaster can use the stream to review the event content and also to identify the optimal times to insert cuepoints. You need to set this value to true if you intend to have a broadcast delay for your event. *Note:* This property cannot be updated once the broadcast is in the testing or live state.", "annotations": {"required": ["youtube.liveBroadcasts.update"]}, "type": "boolean"}, "broadcastStreamDelayMs": {"description": "If you have set the enableMonitorStream property to true, then this property determines the length of the live broadcast delay.", "annotations": {"required": ["youtube.liveBroadcasts.update"]}, "type": "integer", "format": "uint32"}, "embedHtml": {"description": "HTML code that embeds a player that plays the monitor stream.", "type": "string"}}}, "LiveBroadcastStatistics": {"id": "LiveBroadcastStatistics", "description": "Statistics about the live broadcast. These represent a snapshot of the values at the time of the request. Statistics are only returned for live broadcasts.", "type": "object", "properties": {"concurrentViewers": {"description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.", "type": "string", "format": "uint64"}}}, "LiveBroadcastMonetizationDetails": {"id": "LiveBroadcastMonetizationDetails", "description": "Monetization settings of a broadcast.", "type": "object", "properties": {"cuepointSchedule": {"$ref": "CuepointSchedule"}}}, "CuepointSchedule": {"id": "CuepointSchedule", "description": "Schedule to insert cuepoints into a broadcast by ads automator.", "type": "object", "properties": {"enabled": {"description": "This field is semantically required. If it is set false or not set, other fields in this message will be ignored.", "type": "boolean"}, "pauseAdsUntil": {"description": "If set, automatic cuepoint insertion is paused until this timestamp (\"No Ad Zone\"). The value is specified in ISO 8601 format.", "type": "string"}, "repeatIntervalSecs": {"description": "Interval frequency in seconds that api uses to insert cuepoints automatically.", "deprecated": true, "type": "integer", "format": "int32"}, "scheduleStrategy": {"description": "The strategy to use when scheduling cuepoints.", "deprecated": true, "type": "string", "enumDescriptions": ["", "Strategy to schedule cuepoints at one time for all viewers.", "Strategy to schedule cuepoints at an increased rate to allow viewers to receive cuepoints when eligible. See go/lcr-non-concurrent-ads for more details."], "enum": ["scheduleStrategyUnspecified", "concurrent", "nonConcurrent"]}}}, "Cuepoint": {"id": "Cuepoint", "description": "Note that there may be a 5-second end-point resolution issue. For instance, if a cuepoint comes in for 22:03:27, we may stuff the cuepoint into 22:03:25 or 22:03:30, depending. This is an artifact of HLS.", "type": "object", "properties": {"id": {"description": "The identifier for cuepoint resource.", "type": "string"}, "durationSecs": {"description": "The duration of this cuepoint.", "type": "integer", "format": "uint32"}, "insertionOffsetTimeMs": {"description": "The time when the cuepoint should be inserted by offset to the broadcast actual start time.", "type": "string", "format": "int64"}, "walltimeMs": {"description": "The wall clock time at which the cuepoint should be inserted. Only one of insertion_offset_time_ms and walltime_ms may be set at a time.", "type": "string", "format": "uint64"}, "cueType": {"type": "string", "enumDescriptions": ["", ""], "enum": ["cueTypeUnspecified", "cueTypeAd"]}, "etag": {"type": "string"}}}, "LiveChatBan": {"id": "LiveChatBan", "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`.", "default": "youtube#liveChatBan", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube assigns to uniquely identify the ban.", "type": "string"}, "snippet": {"description": "The `snippet` object contains basic details about the ban.", "$ref": "LiveChatBanSnippet"}}}, "LiveChatBanSnippet": {"id": "LiveChatBanSnippet", "type": "object", "properties": {"liveChatId": {"description": "The chat this ban is pertinent to.", "type": "string"}, "type": {"description": "The type of ban.", "type": "string", "enumDescriptions": ["An invalid ban type.", "A permanent ban.", "A temporary ban."], "enum": ["liveChatBanTypeUnspecified", "permanent", "temporary"]}, "banDurationSeconds": {"description": "The duration of a ban, only filled if the ban has type TEMPORARY.", "type": "string", "format": "uint64"}, "bannedUserDetails": {"$ref": "ChannelProfileDetails"}}}, "ChannelProfileDetails": {"id": "ChannelProfileDetails", "type": "object", "properties": {"channelId": {"description": "The YouTube channel ID.", "type": "string"}, "channelUrl": {"description": "The channel's URL.", "type": "string"}, "displayName": {"description": "The channel's display name.", "type": "string"}, "profileImageUrl": {"description": "The channels's avatar URL.", "type": "string"}}}, "LiveChatMessageListResponse": {"id": "LiveChatMessageListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessageListResponse\".", "default": "youtube#liveChatMessageListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "pollingIntervalMillis": {"description": "The amount of time the client should wait before polling again.", "type": "integer", "format": "uint32"}, "offlineAt": {"description": "The date and time when the underlying stream went offline.", "type": "string", "format": "date-time"}, "pageInfo": {"description": "General pagination information.", "$ref": "PageInfo"}, "nextPageToken": {"type": "string"}, "items": {"type": "array", "items": {"$ref": "LiveChatMessage"}}, "activePollItem": {"description": "Set when there is an active poll.", "$ref": "LiveChatMessage"}, "tokenPagination": {"deprecated": true, "$ref": "TokenPagination"}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "LiveChatMessage": {"id": "LiveChatMessage", "description": "A *liveChatMessage* resource represents a chat message in a YouTube Live Chat.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessage\".", "default": "youtube#liveChatMessage", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube assigns to uniquely identify the message.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the message.", "$ref": "LiveChatMessageSnippet"}, "authorDetails": {"description": "The authorDetails object contains basic details about the user that posted this message.", "$ref": "LiveChatMessageAuthorDetails"}}}, "LiveChatMessageSnippet": {"id": "LiveChatMessageSnippet", "description": "Next ID: 35", "type": "object", "properties": {"type": {"description": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present.", "type": "string", "enumDescriptions": ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "A virtual gift sent by a viewer to support a creator."], "enum": ["invalidType", "textMessageEvent", "tombstone", "fanFundingEvent", "chatEndedEvent", "sponsorOnlyModeStartedEvent", "sponsorOnlyModeEndedEvent", "newSponsorEvent", "memberMilestoneChatEvent", "membershipGiftingEvent", "giftMembershipReceivedEvent", "messageDeletedEvent", "messageRetractedEvent", "userBannedEvent", "superChatEvent", "superStickerEvent", "pollEvent", "giftEvent"]}, "liveChatId": {"type": "string"}, "authorChannelId": {"description": "The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor memberMilestoneChatEvent - the member that sent the message membershipGiftingEvent - the user that made the purchase giftMembershipReceivedEvent - the user that received the gift membership messageDeletedEvent - the moderator that took the action messageRetractedEvent - the author that retracted their message userBannedEvent - the moderator that took the action superChatEvent - the user that made the purchase superStickerEvent - the user that made the purchase pollEvent - the user that created the poll", "type": "string"}, "publishedAt": {"description": "The date and time when the message was orignally published.", "type": "string", "format": "date-time"}, "hasDisplayContent": {"description": "Whether the message has display content that should be displayed to users.", "type": "boolean"}, "displayMessage": {"description": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent.", "type": "string"}, "fanFundingEventDetails": {"description": "Details about the funding event, this is only set if the type is 'fanFundingEvent'.", "deprecated": true, "$ref": "LiveChatFanFundingEventDetails"}, "textMessageDetails": {"description": "Details about the text message, this is only set if the type is 'textMessageEvent'.", "$ref": "LiveChatTextMessageDetails"}, "messageDeletedDetails": {"$ref": "LiveChatMessageDeletedDetails"}, "messageRetractedDetails": {"$ref": "LiveChatMessageRetractedDetails"}, "userBannedDetails": {"$ref": "LiveChatUserBannedMessageDetails"}, "superChatDetails": {"description": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'.", "$ref": "LiveChatSuperChatDetails"}, "superStickerDetails": {"description": "Details about the Super Sticker event, this is only set if the type is 'superStickerEvent'.", "$ref": "LiveChatSuperStickerDetails"}, "newSponsorDetails": {"description": "Details about the New Member Announcement event, this is only set if the type is 'newSponsorEvent'. Please note that \"member\" is the new term for \"sponsor\".", "$ref": "LiveChatNewSponsorDetails"}, "memberMilestoneChatDetails": {"description": "Details about the Member Milestone Chat event, this is only set if the type is 'memberMilestoneChatEvent'.", "$ref": "LiveChatMemberMilestoneChatDetails"}, "membershipGiftingDetails": {"description": "Details about the Membership Gifting event, this is only set if the type is 'membershipGiftingEvent'.", "$ref": "LiveChatMembershipGiftingDetails"}, "giftMembershipReceivedDetails": {"description": "Details about the Gift Membership Received event, this is only set if the type is 'giftMembershipReceivedEvent'.", "$ref": "LiveChatGiftMembershipReceivedDetails"}, "pollDetails": {"description": "Details about the poll event, this is only set if the type is 'pollEvent'.", "$ref": "LiveChatPollDetails"}, "giftDetails": {"description": "Details about the gift event, this is only set if the type is 'giftEvent'.", "$ref": "LiveChatGiftDetails"}}}, "LiveChatFanFundingEventDetails": {"id": "LiveChatFanFundingEventDetails", "type": "object", "properties": {"amountMicros": {"description": "The amount of the fund.", "type": "string", "format": "uint64"}, "currency": {"description": "The currency in which the fund was made.", "type": "string"}, "amountDisplayString": {"description": "A rendered string that displays the fund amount and currency to the user.", "type": "string"}, "userComment": {"description": "The comment added by the user to this fan funding event.", "type": "string"}}}, "LiveChatTextMessageDetails": {"id": "LiveChatTextMessageDetails", "type": "object", "properties": {"messageText": {"description": "The user's message.", "type": "string"}}}, "LiveChatMessageDeletedDetails": {"id": "LiveChatMessageDeletedDetails", "type": "object", "properties": {"deletedMessageId": {"type": "string"}}}, "LiveChatMessageRetractedDetails": {"id": "LiveChatMessageRetractedDetails", "type": "object", "properties": {"retractedMessageId": {"type": "string"}}}, "LiveChatUserBannedMessageDetails": {"id": "LiveChatUserBannedMessageDetails", "type": "object", "properties": {"bannedUserDetails": {"description": "The details of the user that was banned.", "$ref": "ChannelProfileDetails"}, "banType": {"description": "The type of ban.", "type": "string", "enumDescriptions": ["", ""], "enum": ["permanent", "temporary"]}, "banDurationSeconds": {"description": "The duration of the ban. This property is only present if the banType is temporary.", "type": "string", "format": "uint64"}}}, "LiveChatSuperChatDetails": {"id": "LiveChatSuperChatDetails", "type": "object", "properties": {"amountMicros": {"description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).", "type": "string", "format": "uint64"}, "currency": {"description": "The currency in which the purchase was made.", "type": "string"}, "amountDisplayString": {"description": "A rendered string that displays the fund amount and currency to the user.", "type": "string"}, "userComment": {"description": "The comment added by the user to this Super Chat event.", "type": "string"}, "tier": {"description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.", "type": "integer", "format": "uint32"}}}, "LiveChatSuperStickerDetails": {"id": "LiveChatSuperStickerDetails", "type": "object", "properties": {"amountMicros": {"description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).", "type": "string", "format": "uint64"}, "currency": {"description": "The currency in which the purchase was made.", "type": "string"}, "amountDisplayString": {"description": "A rendered string that displays the fund amount and currency to the user.", "type": "string"}, "tier": {"description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.", "type": "integer", "format": "uint32"}, "superStickerMetadata": {"description": "Information about the Super Sticker.", "$ref": "SuperStickerMetadata"}}}, "SuperStickerMetadata": {"id": "SuperStickerMetadata", "type": "object", "properties": {"stickerId": {"description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker.", "type": "string"}, "altText": {"description": "Internationalized alt text that describes the sticker image and any animation associated with it.", "type": "string"}, "altTextLanguage": {"description": "Specifies the localization language in which the alt text is returned.", "type": "string"}}}, "LiveChatNewSponsorDetails": {"id": "LiveChatNewSponsorDetails", "type": "object", "properties": {"memberLevelName": {"description": "The name of the Level that the viewer just had joined. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.", "type": "string"}, "isUpgrade": {"description": "If the viewer just had upgraded from a lower level. For viewers that were not members at the time of purchase, this field is false.", "type": "boolean"}}}, "LiveChatMemberMilestoneChatDetails": {"id": "LiveChatMemberMilestoneChatDetails", "type": "object", "properties": {"memberLevelName": {"description": "The name of the Level at which the viever is a member. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.", "type": "string"}, "memberMonth": {"description": "The total amount of months (rounded up) the viewer has been a member that granted them this Member Milestone Chat. This is the same number of months as is being displayed to YouTube users.", "type": "integer", "format": "uint32"}, "userComment": {"description": "The comment added by the member to this Member Milestone Chat. This field is empty for messages without a comment from the member.", "type": "string"}}}, "LiveChatMembershipGiftingDetails": {"id": "LiveChatMembershipGiftingDetails", "type": "object", "properties": {"giftMembershipsCount": {"description": "The number of gift memberships purchased by the user.", "type": "integer", "format": "int32"}, "giftMembershipsLevelName": {"description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.", "type": "string"}}}, "LiveChatGiftMembershipReceivedDetails": {"id": "LiveChatGiftMembershipReceivedDetails", "type": "object", "properties": {"memberLevelName": {"description": "The name of the Level at which the viewer is a member. This matches the `snippet.membershipGiftingDetails.giftMembershipsLevelName` of the associated membership gifting message. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.", "type": "string"}, "gifterChannelId": {"description": "The ID of the user that made the membership gifting purchase. This matches the `snippet.authorChannelId` of the associated membership gifting message.", "type": "string"}, "associatedMembershipGiftingMessageId": {"description": "The ID of the membership gifting message that is related to this gift membership. This ID will always refer to a message whose type is 'membershipGiftingEvent'.", "type": "string"}}}, "LiveChatPollDetails": {"id": "LiveChatPollDetails", "type": "object", "properties": {"metadata": {"$ref": "LiveChatPollDetailsPollMetadata"}, "status": {"type": "string", "enumDescriptions": ["", "", ""], "enum": ["unknown", "active", "closed"]}}}, "LiveChatPollDetailsPollMetadata": {"id": "LiveChatPollDetailsPollMetadata", "type": "object", "properties": {"questionText": {"type": "string"}, "options": {"description": "The options will be returned in the order that is displayed in 1P", "type": "array", "items": {"$ref": "LiveChatPollDetailsPollMetadataPollOption"}}}}, "LiveChatPollDetailsPollMetadataPollOption": {"id": "LiveChatPollDetailsPollMetadataPollOption", "type": "object", "properties": {"optionText": {"type": "string"}, "tally": {"type": "string", "format": "int64"}}}, "LiveChatGiftDetails": {"id": "LiveChatGiftDetails", "description": "Details about the gift event, this is only set if the type is 'giftEvent'.", "type": "object", "properties": {"giftName": {"description": "The name of the gift.", "type": "string"}, "giftDuration": {"description": "The duration of the gift.", "type": "string", "format": "google-duration"}, "jewelsAmount": {"description": "The value of the gift in jewels.", "type": "integer", "format": "int32"}, "giftUrl": {"description": "The URL of the gift image.", "type": "string"}, "altText": {"description": "The alternative text to be used for accessibility.", "type": "string"}, "language": {"description": "The BCP-47 language code of the gift.", "type": "string"}, "hasVisualEffect": {"description": "Whether the gift involves a visual effect.", "type": "boolean"}, "comboCount": {"description": "The number of times the gift has been sent in a row.", "type": "integer", "format": "int32"}}}, "LiveChatMessageAuthorDetails": {"id": "LiveChatMessageAuthorDetails", "type": "object", "properties": {"channelId": {"description": "The YouTube channel ID.", "type": "string"}, "channelUrl": {"description": "The channel's URL.", "type": "string"}, "displayName": {"description": "The channel's display name.", "type": "string"}, "profileImageUrl": {"description": "The channels's avatar URL.", "type": "string"}, "isVerified": {"description": "Whether the author's identity has been verified by YouTube.", "type": "boolean"}, "isChatOwner": {"description": "Whether the author is the owner of the live chat.", "type": "boolean"}, "isChatSponsor": {"description": "Whether the author is a sponsor of the live chat.", "type": "boolean"}, "isChatModerator": {"description": "Whether the author is a moderator of the live chat.", "type": "boolean"}}}, "LiveChatModeratorListResponse": {"id": "LiveChatModeratorListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\".", "default": "youtube#liveChatModeratorListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "pageInfo": {"description": "General pagination information.", "$ref": "PageInfo"}, "nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.", "type": "string"}, "prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.", "type": "string"}, "items": {"description": "A list of moderators that match the request criteria.", "type": "array", "items": {"$ref": "LiveChatModerator"}}, "tokenPagination": {"deprecated": true, "$ref": "TokenPagination"}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "LiveChatModerator": {"id": "LiveChatModerator", "description": "A *liveChatModerator* resource represents a moderator for a YouTube live chat. A chat moderator has the ability to ban/unban users from a chat, remove message, etc.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModerator\".", "default": "youtube#liveChatModerator", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube assigns to uniquely identify the moderator.", "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the moderator.", "$ref": "LiveChatModeratorSnippet"}}}, "LiveChatModeratorSnippet": {"id": "LiveChatModeratorSnippet", "type": "object", "properties": {"moderatorDetails": {"description": "Details about the moderator.", "$ref": "ChannelProfileDetails"}, "liveChatId": {"description": "The ID of the live chat this moderator can act on.", "type": "string"}}}, "LiveStreamListResponse": {"id": "LiveStreamListResponse", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".", "default": "youtube#liveStreamListResponse", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.", "type": "string"}, "prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.", "type": "string"}, "pageInfo": {"$ref": "PageInfo"}, "items": {"description": "A list of live streams that match the request criteria.", "type": "array", "items": {"$ref": "LiveStream"}}, "tokenPagination": {"deprecated": true, "$ref": "TokenPagination"}, "eventId": {"description": "Serialized EventId of the request which produced this response.", "deprecated": true, "type": "string"}, "visitorId": {"description": "The visitorId identifies the visitor.", "deprecated": true, "type": "string"}}}, "LiveStream": {"id": "LiveStream", "description": "A live stream describes a live ingestion point.", "type": "object", "properties": {"kind": {"description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStream\".", "default": "youtube#liveStream", "type": "string"}, "etag": {"description": "Etag of this resource.", "type": "string"}, "id": {"description": "The ID that YouTube assigns to uniquely identify the stream.", "annotations": {"required": ["youtube.liveStreams.update"]}, "type": "string"}, "snippet": {"description": "The snippet object contains basic details about the stream, including its channel, title, and description.", "$ref": "LiveStreamSnippet"}, "cdn": {"description": "The cdn object defines the live stream's content delivery network (CDN) settings. These settings provide details about the manner in which you stream your content to YouTube.", "$ref": "CdnSettings"}, "status": {"description": "The status object contains information about live stream's status.", "$ref": "LiveStreamStatus"}, "contentDetails": {"description": "The content_details object contains information about the stream, including the closed captions ingestion URL.", "$ref": "LiveStreamContentDetails"}}}, "LiveStreamSnippet": {"id": "LiveStreamSnippet", "type": "object", "properties": {"publishedAt": {"description": "The date and time that the stream was created.", "type": "string", "format": "date-time"}, "channelId": {"description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream.", "type": "string"}, "title": {"description": "The stream's title. The value must be between 1 and 128 characters long.", "annotations": {"required": ["youtube.liveStreams.insert", "youtube.liveStreams.update"]}, "type": "string"}, "description": {"description": "The stream's description. The value cannot be longer than 10000 characters.", "type": "string"}, "isDefaultStream": {"type": "boolean"}}}, "CdnSettings": {"id": "CdnSettings", "description": "Brief description of the live stream cdn settings.", "type": "object", "properties": {"format": {"description": "The format of the video stream that you are sending to Youtube. ", "deprecated": true, "annotations": {"required": ["youtube.liveStreams.insert", "youtube.liveStreams.update"]}, "type": "string"}, "ingestionType": {"description": " The method or protocol used to transmit the video stream.", "annotations": {"required": ["youtube.liveStreams.insert", "youtube.liveStreams.update"]}, "type": "string", "enumDescriptions": ["", "", "", ""], "enum": ["rtmp", "dash", "webrtc", "hls"]}, "ingestionInfo": {"description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube.", "$ref": "IngestionInfo"}, "resolution": {"description": "The resolution of the inbound video data.", "type": "string", "enumDescriptions": ["", "", "", "", "", "", "", ""], "enum": ["240p", "360p", "480p", "720p", "1080p", "1440p", "2160p", "variable"]}, "frameRate": {"description": "The frame rate of the inbound video data.", "type": "string", "enumDescriptions": ["", "", ""], "enum": ["30fps", "60fps", "variable"]}}}, "IngestionInfo": {"id": "IngestionInfo", "description": "Describes information necessary for ingesting an RTMP, HTTP, or SRT stream.", "type": "object", "properties": {"streamName": {"description": "The stream name that YouTube assigns to the video stream.", "type": "string"}, "ingestionAddress": {"description": "The primary ingestion URL that you should use to stream video to YouTube. You must stream video to this URL. Depending on which application or tool you use to encode your video stream, you may need to enter the stream URL and stream name separately o
[...]
