{"id": "youtubereporting:v1", "protocol": "rest", "mtlsRootUrl": "https://youtubereporting.mtls.googleapis.com/", "parameters": {"access_token": {"type": "string", "description": "OAuth access token.", "location": "query"}, "alt": {"type": "string", "description": "Data format for response.", "default": "json", "enum": ["json", "media", "proto"], "enumDescriptions": ["Responses with Content-Type of application/json", "Media download with context-dependent Content-Type", "Responses with Content-Type of application/x-protobuf"], "location": "query"}, "callback": {"type": "string", "description": "JSONP", "location": "query"}, "fields": {"type": "string", "description": "Selector specifying which fields to include in a partial response.", "location": "query"}, "key": {"type": "string", "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.", "location": "query"}, "oauth_token": {"type": "string", "description": "OAuth 2.0 token for the current user.", "location": "query"}, "prettyPrint": {"type": "boolean", "description": "Returns response with indentations and line breaks.", "default": "true", "location": "query"}, "quotaUser": {"type": "string", "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.", "location": "query"}, "upload_protocol": {"type": "string", "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").", "location": "query"}, "uploadType": {"type": "string", "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").", "location": "query"}, "$.xgafv": {"type": "string", "description": "V1 error format.", "enum": ["1", "2"], "enumDescriptions": ["v1 error format", "v2 error format"], "location": "query"}}, "discoveryVersion": "v1", "auth": {"oauth2": {"scopes": {"https://www.googleapis.com/auth/yt-analytics-monetary.readonly": {"description": "View monetary and non-monetary YouTube Analytics reports for your YouTube content"}, "https://www.googleapis.com/auth/yt-analytics.readonly": {"description": "View YouTube Analytics reports for your YouTube content"}}}}, "batchPath": "batch", "revision": "20260329", "rootUrl": "https://youtubereporting.googleapis.com/", "version": "v1", "kind": "discovery#restDescription", "servicePath": "", "canonicalName": "YouTube Reporting", "ownerName": "Google", "icons": {"x16": "http://www.google.com/images/icons/product/search-16.gif", "x32": "http://www.google.com/images/icons/product/search-32.gif"}, "resources": {"reportTypes": {"methods": {"list": {"id": "youtubereporting.reportTypes.list", "path": "v1/reportTypes", "flatPath": "v1/reportTypes", "httpMethod": "GET", "parameters": {"onBehalfOfContentOwner": {"description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).", "location": "query", "type": "string"}, "pageSize": {"description": "Requested page size. Server may return fewer report types than requested. If unspecified, server will pick an appropriate default.", "location": "query", "type": "integer", "format": "int32"}, "pageToken": {"description": "A token identifying a page of results the server should return. Typically, this is the value of ListReportTypesResponse.next_page_token returned in response to the previous call to the `ListReportTypes` method.", "location": "query", "type": "string"}, "includeSystemManaged": {"description": "If set to true, also system-managed report types will be returned; otherwise only the report types that can be used to create new reporting jobs will be returned.", "location": "query", "type": "boolean"}}, "parameterOrder": [], "response": {"$ref": "ListReportTypesResponse"}, "scopes": ["https://www.googleapis.com/auth/yt-analytics-monetary.readonly", "https://www.googleapis.com/auth/yt-analytics.readonly"], "description": "Lists report types."}}}, "jobs": {"methods": {"create": {"id": "youtubereporting.jobs.create", "path": "v1/jobs", "flatPath": "v1/jobs", "httpMethod": "POST", "parameters": {"onBehalfOfContentOwner": {"description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).", "location": "query", "type": "string"}}, "parameterOrder": [], "request": {"$ref": "Job"}, "response": {"$ref": "Job"}, "scopes": ["https://www.googleapis.com/auth/yt-analytics-monetary.readonly", "https://www.googleapis.com/auth/yt-analytics.readonly"], "description": "Creates a job and returns it."}, "list": {"id": "youtubereporting.jobs.list", "path": "v1/jobs", "flatPath": "v1/jobs", "httpMethod": "GET", "parameters": {"onBehalfOfContentOwner": {"description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).", "location": "query", "type": "string"}, "pageSize": {"description": "Requested page size. Server may return fewer jobs than requested. If unspecified, server will pick an appropriate default.", "location": "query", "type": "integer", "format": "int32"}, "pageToken": {"description": "A token identifying a page of results the server should return. Typically, this is the value of ListReportTypesResponse.next_page_token returned in response to the previous call to the `ListJobs` method.", "location": "query", "type": "string"}, "includeSystemManaged": {"description": "If set to true, also system-managed jobs will be returned; otherwise only user-created jobs will be returned. System-managed jobs can neither be modified nor deleted.", "location": "query", "type": "boolean"}}, "parameterOrder": [], "response": {"$ref": "ListJobsResponse"}, "scopes": ["https://www.googleapis.com/auth/yt-analytics-monetary.readonly", "https://www.googleapis.com/auth/yt-analytics.readonly"], "description": "Lists jobs."}, "get": {"id": "youtubereporting.jobs.get", "path": "v1/jobs/{jobId}", "flatPath": "v1/jobs/{jobId}", "httpMethod": "GET", "parameters": {"jobId": {"description": "The ID of the job to retrieve.", "location": "path", "required": true, "type": "string"}, "onBehalfOfContentOwner": {"description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).", "location": "query", "type": "string"}}, "parameterOrder": ["jobId"], "response": {"$ref": "Job"}, "scopes": ["https://www.googleapis.com/auth/yt-analytics-monetary.readonly", "https://www.googleapis.com/auth/yt-analytics.readonly"], "description": "Gets a job."}, "delete": {"id": "youtubereporting.jobs.delete", "path": "v1/jobs/{jobId}", "flatPath": "v1/jobs/{jobId}", "httpMethod": "DELETE", "parameters": {"jobId": {"description": "The ID of the job to delete.", "location": "path", "required": true, "type": "string"}, "onBehalfOfContentOwner": {"description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).", "location": "query", "type": "string"}}, "parameterOrder": ["jobId"], "response": {"$ref": "Empty"}, "scopes": ["https://www.googleapis.com/auth/yt-analytics-monetary.readonly", "https://www.googleapis.com/auth/yt-analytics.readonly"], "description": "Deletes a job."}}, "resources": {"reports": {"methods": {"list": {"id": "youtubereporting.jobs.reports.list", "path": "v1/jobs/{jobId}/reports", "flatPath": "v1/jobs/{jobId}/reports", "httpMethod": "GET", "parameters": {"jobId": {"description": "The ID of the job.", "location": "path", "required": true, "type": "string"}, "onBehalfOfContentOwner": {"description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).", "location": "query", "type": "string"}, "pageSize": {"description": "Requested page size. Server may return fewer report types than requested. If unspecified, server will pick an appropriate default.", "location": "query", "type": "integer", "format": "int32"}, "pageToken": {"description": "A token identifying a page of results the server should return. Typically, this is the value of ListReportsResponse.next_page_token returned in response to the previous call to the `ListReports` method.", "location": "query", "type": "string"}, "createdAfter": {"description": "If set, only reports created after the specified date/time are returned.", "location": "query", "type": "string", "format": "google-datetime"}, "startTimeAtOrAfter": {"description": "If set, only reports whose start time is greater than or equal the specified date/time are returned.", "location": "query", "type": "string", "format": "google-datetime"}, "startTimeBefore": {"description": "If set, only reports whose start time is smaller than the specified date/time are returned.", "location": "query", "type": "string", "format": "google-datetime"}}, "parameterOrder": ["jobId"], "response": {"$ref": "ListReportsResponse"}, "scopes": ["https://www.googleapis.com/auth/yt-analytics-monetary.readonly", "https://www.googleapis.com/auth/yt-analytics.readonly"], "description": "Lists reports created by a specific job. Returns NOT_FOUND if the job does not exist."}, "get": {"id": "youtubereporting.jobs.reports.get", "path": "v1/jobs/{jobId}/reports/{reportId}", "flatPath": "v1/jobs/{jobId}/reports/{reportId}", "httpMethod": "GET", "parameters": {"jobId": {"description": "The ID of the job.", "location": "path", "required": true, "type": "string"}, "reportId": {"description": "The ID of the report to retrieve.", "location": "path", "required": true, "type": "string"}, "onBehalfOfContentOwner": {"description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).", "location": "query", "type": "string"}}, "parameterOrder": ["jobId", "reportId"], "response": {"$ref": "Report"}, "scopes": ["https://www.googleapis.com/auth/yt-analytics-monetary.readonly", "https://www.googleapis.com/auth/yt-analytics.readonly"], "description": "Gets the metadata of a specific report."}}}}}, "media": {"methods": {"download": {"id": "youtubereporting.media.download", "path": "v1/media/{+resourceName}", "flatPath": "v1/media/{mediaId}", "httpMethod": "GET", "parameters": {"resourceName": {"description": "Name of the media that is being downloaded.", "pattern": "^.*$", "location": "path", "required": true, "type": "string"}}, "parameterOrder": ["resourceName"], "supportsMediaDownload": true, "useMediaDownloadService": true, "response": {"$ref": "GdataMedia"}, "scopes": ["https://www.googleapis.com/auth/yt-analytics-monetary.readonly", "https://www.googleapis.com/auth/yt-analytics.readonly"], "description": "Method for media download. Download is supported on the URI `/v1/media/{+name}?alt=media`."}}}}, "documentationLink": "https://developers.google.com/youtube/reporting/v1/reports/", "basePath": "", "title": "YouTube Reporting API", "schemas": {"ListReportTypesResponse": {"id": "ListReportTypesResponse", "description": "Response message for ReportingService.ListReportTypes.", "type": "object", "properties": {"reportTypes": {"description": "The list of report types.", "type": "array", "items": {"$ref": "ReportType"}}, "nextPageToken": {"description": "A token to retrieve next page of results. Pass this value in the ListReportTypesRequest.page_token field in the subsequent call to `ListReportTypes` method to retrieve the next page of results.", "type": "string"}}}, "ReportType": {"id": "ReportType", "description": "A report type.", "type": "object", "properties": {"id": {"description": "The ID of the report type (max. 100 characters).", "type": "string"}, "name": {"description": "The name of the report type (max. 100 characters).", "type": "string"}, "deprecateTime": {"description": "The date/time when this report type was/will be deprecated.", "type": "string", "format": "google-datetime"}, "systemManaged": {"description": "True if this a system-managed report type; otherwise false. Reporting jobs for system-managed report types are created automatically and can thus not be used in the `CreateJob` method.", "type": "boolean"}}}, "Job": {"id": "Job", "description": "A job creating reports of a specific type.", "type": "object", "properties": {"id": {"description": "The server-generated ID of the job (max. 40 characters).", "type": "string"}, "reportTypeId": {"description": "The type of reports this job creates. Corresponds to the ID of a ReportType.", "type": "string"}, "name": {"description": "The name of the job (max. 100 characters).", "type": "string"}, "createTime": {"description": "The creation date/time of the job.", "type": "string", "format": "google-datetime"}, "expireTime": {"description": "The date/time when this job will expire/expired. After a job expired, no new reports are generated.", "type": "string", "format": "google-datetime"}, "systemManaged": {"description": "True if this a system-managed job that cannot be modified by the user; otherwise false.", "type": "boolean"}}}, "ListJobsResponse": {"id": "ListJobsResponse", "description": "Response message for ReportingService.ListJobs.", "type": "object", "properties": {"jobs": {"description": "The list of jobs.", "type": "array", "items": {"$ref": "Job"}}, "nextPageToken": {"description": "A token to retrieve next page of results. Pass this value in the ListJobsRequest.page_token field in the subsequent call to `ListJobs` method to retrieve the next page of results.", "type": "string"}}}, "Empty": {"id": "Empty", "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }", "type": "object", "properties": {}}, "ListReportsResponse": {"id": "ListReportsResponse", "description": "Response message for ReportingService.ListReports.", "type": "object", "properties": {"reports": {"description": "The list of report types.", "type": "array", "items": {"$ref": "Report"}}, "nextPageToken": {"description": "A token to retrieve next page of results. Pass this value in the ListReportsRequest.page_token field in the subsequent call to `ListReports` method to retrieve the next page of results.", "type": "string"}}}, "Report": {"id": "Report", "description": "A report's metadata including the URL from which the report itself can be downloaded.", "type": "object", "properties": {"id": {"description": "The server-generated ID of the report.", "type": "string"}, "jobId": {"description": "The ID of the job that created this report.", "type": "string"}, "jobExpireTime": {"description": "The date/time when the job this report belongs to will expire/expired.", "type": "string", "format": "google-datetime"}, "startTime": {"description": "The start of the time period that the report instance covers. The value is inclusive.", "type": "string", "format": "google-datetime"}, "endTime": {"description": "The end of the time period that the report instance covers. The value is exclusive.", "type": "string", "format": "google-datetime"}, "createTime": {"description": "The date/time when this report was created.", "type": "string", "format": "google-datetime"}, "downloadUrl": {"description": "The URL from which the report can be downloaded (max. 1000 characters).", "type": "string"}}}, "GdataMedia": {"id": "GdataMedia", "description": "gdata", "type": "object", "properties": {"contentType": {"description": "gdata", "type": "string"}, "timestamp": {"description": "gdata", "type": "string", "format": "uint64"}, "token": {"description": "gdata", "type": "string"}, "length": {"description": "gdata", "type": "string", "format": "int64"}, "filename": {"description": "gdata", "type": "string"}, "referenceType": {"description": "gdata", "type": "string", "enumDescriptions": ["gdata", "gdata", "gdata", "gdata", "gdata", "gdata", "gdata", "gdata", "gdata", "gdata", "gdata", "gdata", "gdata"], "enum": ["PATH", "BLOB_REF", "INLINE", "GET_MEDIA", "COMPOSITE_MEDIA", "BIGSTORE_REF", "DIFF_VERSION_RESPONSE", "DIFF_CHECKSUMS_RESPONSE", "DIFF_DOWNLOAD_RESPONSE", "DIFF_UPLOAD_REQUEST", "DIFF_UPLOAD_RESPONSE", "COSMO_BINARY_REFERENCE", "ARBITRARY_BYTES"]}, "path": {"description": "gdata", "type": "string"}, "blobRef": {"description": "gdata", "deprecated": true, "type": "string", "format": "byte"}, "inline": {"description": "gdata", "type": "string", "format": "byte"}, "mediaId": {"description": "gdata", "type": "string", "format": "byte"}, "hash": {"description": "gdata", "deprecated": true, "type": "string"}, "algorithm": {"description": "gdata", "deprecated": true, "type": "string"}, "compositeMedia": {"description": "gdata", "type": "array", "items": {"$ref": "GdataCompositeMedia"}}, "bigstoreObjectRef": {"description": "gdata", "deprecated": true, "type": "string", "format": "byte"}, "objectId": {"description": "gdata", "$ref": "GdataObjectId"}, "blobstore2Info": {"description": "gdata", "$ref": "GdataBlobstore2Info"}, "diffVersionResponse": {"description": "gdata", "$ref": "GdataDiffVersionResponse"}, "diffChecksumsResponse": {"description": "gdata", "$ref": "GdataDiffChecksumsResponse"}, "diffDownloadResponse": {"description": "gdata", "$ref": "GdataDiffDownloadResponse"}, "diffUploadRequest": {"description": "gdata", "$ref": "GdataDiffUploadRequest"}, "diffUploadResponse": {"description": "gdata", "$ref": "GdataDiffUploadResponse"}, "contentTypeInfo": {"description": "gdata", "$ref": "GdataContentTypeInfo"}, "downloadParameters": {"description": "gdata", "$ref": "GdataDownloadParameters"}, "crc32cHash": {"description": "gdata", "type": "integer", "format": "uint32"}, "md5Hash": {"description": "gdata", "type": "string", "format": "byte"}, "sha1Hash": {"description": "gdata", "type": "string", "format": "byte"}, "sha256Hash": {"description": "gdata", "type": "string", "format": "byte"}, "isPotentialRetry": {"description": "gdata", "type": "boolean"}, "cosmoBinaryReference": {"description": "gdata", "type": "string", "format": "byte"}, "hashVerified": {"description": "gdata", "type": "boolean"}}}, "GdataCompositeMedia": {"id": "GdataCompositeMedia", "description": "gdata", "type": "object", "properties": {"length": {"description": "gdata", "type": "string", "format": "int64"}, "referenceType": {"description": "gdata", "type": "string", "enumDescriptions": ["gdata", "gdata", "gdata", "gdata", "gdata"], "enum": ["PATH", "BLOB_REF", "INLINE", "BIGSTORE_REF", "COSMO_BINARY_REFERENCE"]}, "path": {"description": "gdata", "type": "string"}, "blobRef": {"description": "gdata", "deprecated": true, "type": "string", "format": "byte"}, "inline": {"description": "gdata", "type": "string", "format": "byte"}, "objectId": {"description": "gdata", "$ref": "GdataObjectId"}, "blobstore2Info": {"description": "gdata", "$ref": "GdataBlobstore2Info"}, "cosmoBinaryReference": {"description": "gdata", "type": "string", "format": "byte"}, "crc32cHash": {"description": "gdata", "type": "integer", "format": "uint32"}, "md5Hash": {"description": "gdata", "type": "string", "format": "byte"}, "sha1Hash": {"description": "gdata", "type": "string", "format": "byte"}}}, "GdataObjectId": {"id": "GdataObjectId", "description": "gdata", "type": "object", "properties": {"bucketName": {"description": "gdata", "type": "string"}, "objectName": {"description": "gdata", "type": "string"}, "generation": {"description": "gdata", "type": "string", "format": "int64"}}}, "GdataBlobstore2Info": {"id": "GdataBlobstore2Info", "description": "gdata", "type": "object", "properties": {"blobId": {"description": "gdata", "type": "string"}, "blobGeneration": {"description": "gdata", "type": "string", "format": "int64"}, "readToken": {"description": "gdata", "type": "string"}, "uploadMetadataContainer": {"description": "gdata", "type": "string", "format": "byte"}, "downloadReadHandle": {"description": "gdata", "type": "string", "format": "byte"}, "downloadExternalReadToken": {"description": "gdata", "type": "string", "format": "byte"}, "uploadFragmentListCreationInfo": {"description": "gdata", "type": "string", "format": "byte"}}}, "GdataDiffVersionResponse": {"id": "GdataDiffVersionResponse", "description": "gdata", "type": "object", "properties": {"objectVersion": {"description": "gdata", "type": "string"}, "objectSizeBytes": {"description": "gdata", "type": "string", "format": "int64"}}}, "GdataDiffChecksumsResponse": {"id": "GdataDiffChecksumsResponse", "description": "gdata", "type": "object", "properties": {"objectVersion": {"description": "gdata", "type": "string"}, "objectSizeBytes": {"description": "gdata", "type": "string", "format": "int64"}, "chunkSizeBytes": {"description": "gdata", "type": "string", "format": "int64"}, "checksumsLocation": {"description": "gdata", "$ref": "GdataCompositeMedia"}, "objectLocation": {"description": "gdata", "$ref": "GdataCompositeMedia"}}}, "GdataDiffDownloadResponse": {"id": "GdataDiffDownloadResponse", "description": "gdata", "type": "object", "properties": {"objectLocation": {"description": "gdata", "$ref": "GdataCompositeMedia"}}}, "GdataDiffUploadRequest": {"id": "GdataDiffUploadRequest", "description": "gdata", "type": "object", "properties": {"objectVersion": {"description": "gdata", "type": "string"}, "objectInfo": {"description": "gdata", "$ref": "GdataCompositeMedia"}, "checksumsInfo": {"description": "gdata", "$ref": "GdataCompositeMedia"}}}, "GdataDiffUploadResponse": {"id": "GdataDiffUploadResponse", "description": "gdata", "type": "object", "properties": {"objectVersion": {"description": "gdata", "type": "string"}, "originalObject": {"description": "gdata", "$ref": "GdataCompositeMedia"}}}, "GdataContentTypeInfo": {"id": "GdataContentTypeInfo", "description": "gdata", "type": "object", "properties": {"bestGuess": {"description": "gdata", "type": "string"}, "fromHeader": {"description": "gdata", "type": "string"}, "fromFileName": {"description": "gdata", "type": "string"}, "fromUrlPath": {"description": "gdata", "type": "string"}, "fromBytes": {"description": "gdata", "type": "string"}}}, "GdataDownloadParameters": {"id": "GdataDownloadParameters", "description": "gdata", "type": "object", "properties": {"allowGzipCompression": {"description": "gdata", "type": "boolean"}, "ignoreRange": {"description": "gdata", "type": "boolean"}}}}, "ownerDomain": "google.com", "baseUrl": "https://youtubereporting.googleapis.com/", "description": "Schedules reporting jobs containing your YouTube Analytics data and downloads the resulting bulk data reports in the form of CSV files.", "name": "youtubereporting"}